# 忽略日志
wandb/
**/__pycache__/
*.log
*.tmp

# 忽略本地虚拟环境
venv/
.univla/

# 忽略数据集
datasets/
*.pth
*.pt
*.bin

# 忽略缓存
*.ipynb_checkpoints
.cache/


**/__pycache__
**/*.pyc
**/*.pkl
**/*.pt
**/data/
**/logs/
**/cache/
**/*.zip
**/*.tar.gz
.git
*.log

checkpoints/